@use "./colors" as *;

main {
	display: flex;
}

.main__content {
	margin: 0 auto;
	margin-top: 100px;
	height: 200vh;
}

.nav-side {
	position: fixed;
	left: 0;
	top: 72px;
	display: flex;
	flex-direction: column;
	width: 200px;
	height: calc(100vh - 72px);
	overflow-x: hidden;
	overflow-y: scroll;

	&__links-link {
		display: inline-block;
		padding: 0.25em 1em;
		font-size: 1.2rem;
		text-decoration: none;
		color: grey;

		&:hover {
			text-decoration: underline;
		}
	}

	&__links-yeartext {
		display: block;
		padding: 0.5em 1em;
		font-size: 1.2rem;
		text-align: center;
		text-decoration: none;
		color: grey;
	}

	&__text {
		padding: 0.75em 1em;
		font-size: 1.4rem;

		&--pink {
			padding-bottom: 1.25em;
			color: $pink;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__line {
		height: 115px;
		background-color: $grey;
		border: none;
	}

	&__list {
		list-style: none;

		&-item-text {
			padding: 0.75em 1em;
			display: block;
			width: 100%;
			font-size: 2rem;
			font-weight: 700;
			color: black;
			text-decoration: none;
			transition: background-color 0.3s;

			&:hover {
				background-color: $grey2;
			}

			&--pink {
				margin-top: 1em;
				color: $pink;
			}

			&--uppercase {
				text-transform: uppercase;
				margin-bottom: 1em;
			}

			&-icon {
				padding-right: 0.5em;
			}

			&-dot {
				font-size: 0.75rem;
				padding-left: 0.5em;
				color: $pink;
			}

			&-span {
				padding: 0.3em 0.6em;
				font-size: 1.2rem;
				border-radius: 25px;
				background-color: $pink;
				color: white;
			}

			&-picture {
				margin-right: 0.25em;
				width: 35px;
				height: 35px;
				border-radius: 50%;
			}

			&--profile {
				display: flex;
				align-items: center;
			}

			&-right-text {
				font-size: 1.6rem;

				&-verified .fa-check {
					padding: 0.15em;
					font-size: 1.4rem;
					border-radius: 50%;
					background-color: rgb(131, 162, 255);
				}

				&--smaller {
					font-size: 1.4rem;
					color: rgb(164, 164, 164);
				}
			}
		}
	}
}
